<!DOCTYPE html>
<html>
<head>
    <title><%= project.title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
      <a href="/">Home</a>
    </nav>
    
    <div class="tableau-wrapper">
        <div class="tableau-content">
            <% if (project && project.tableauUrl) { %>
                <iframe
                    src="<%= project.tableauUrl %>&:showVizHome=no&:embed=true"
                    width="100%"
                    height="600"
                    style="border:none;"
                    loading="lazy"
                    title="<%= project.title %> Visualization"
                    onerror="showFallback(this)"
                ></iframe>
            <% } else { %>
                <div class="no-viz-message">
                    Visualization not available
                </div>
            <% } %>
              <nav>
                <a href="/">Home Page</a>
              </nav>
        </div>
    </div>
</body>
</html>